<h1>欢迎你来到 观复律师网 后台管理系统</h1>
<%= link_to '栏目管理', admin_columns_path %><br/>
<%#= link_to '案情管理', admin_cases_path %><br/>
<%#= link_to '动态管理', admin_news_index_path %><br/>
<%= link_to '成员管理', admin_members_path %><br/>