<!-- begin-->
<div style="display: inline-block; min-height: 400px;">

	<h1><span style="display: inline-block;font-size: 0.9em;">欢迎来到</span> <span style="display: inline-block;font-size: 1.3em;">观复律师网</span> <span style="display: inline-block;font-size: 0.9em;">管理系统</span></h1>
	<a href="<%= admin_columns_path %>" style="font-size: 22px;border: 1px solid gray;margin-top: 10px;padding: 10px;display: inline-block;">栏目管理</a><br>
	<br>
	<br>
	<a href="<%= admin_members_path %>" style="font-size: 22px;border: 1px solid gray;margin-top: 10px;padding: 10px;display: inline-block;">成员管理</a><br>
</div>
<!-- end-->