.content{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-image: url("../images/background.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.head-color{
	width: 980px;
	height: 12px;
	background-color: #008cd6;
	margin: 0 auto;
}
.head-container{
	width: 980px;
	height: 170px;
	margin: 0 auto;
	overflow: hidden;
}
.head-left{
	width: 50%;
	height: 100%;
	float: left;
}
.head-right{
	width: 50%;
	height: 100%;
	float: left;
}
.logo{
	text-align: center;
	vertical-align: middle;
	padding-top: 50px;
}
.head-function{
	text-align: right;
	font-size: 14px;
	color: #7e7e7e;
	margin-top: 50px;
}
.head-addfavaorite{
	width: 72px;
	padding-right: 8px;
	padding-left: 6px;
}
.head-contact{
	text-align: right;
	margin-top: 65px;
}
.head-contact img{
	vertical-align: middle;
}
.head-contact-phonenumber{
	display: inline-block;
	vertical-align: middle;
}
.head-phone-line{
	font-size: 16px;
	color: #595757;
}
.head-phone-number{
	font-size: 18px;
	color: #fa9c1e;
}
/*导航栏*/
.head-menu-container{
	background-image: url("../images/menubarBG.jpg");
	background-repeat: repeat-x;
	width: 100%;
	height: 50px;
}
.menu-contaner{
	width: 984px;
	height: 100%;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
}
.menu-contaner span{
	width: 164px;
	height: 100%;
	line-height: 50px;
	text-align: center;
	float: left;
	cursor: pointer;
}
.menu-contaner .selected{
	background-image: url("../images/menuSelected.png");
	width: 164px;
	height: 50px;
}

.banner-container{
	width: 980px;
	height: 255px;
	margin: 15px auto;
}
.banner-yinying{
	width: 980px;
	height: 12px;
	margin: 0 auto;
}

.server-dynamic-container{
	width: 980px;
	height: 274px;
	margin: 20px auto;

	overflow:hidden; 
}
.server-container{
	width: 640px;
	height: 270px;
	float: left;
	border: 1px solid #b5b5b5;
	border-radius: 0 0 10px 10px;
	background-color: #f1f1f1;
}
.container-head{
	width: 100%;
	height: 30px;
	background-image: url("../images/smallheadBG.jpg");
}
.server-shadow{
	width: 100%;
	height: 11px;
	background-image: url("../images/serverShadow.png");
}
.server-name{
	padding-top: 10px;
	padding-left: 20px;
	width: 157px;
	float: left;
}
.server-name span{
	width: 150px;
	height: 40px;
	display: inline-block;
	background-color: #00a0e9;
	font-size: 14px;
	color: #fff;
	margin-top: 10px;
	text-align: center;
	line-height: 2.8;
	cursor: pointer;
}
.server-desc{
	float: left;
	width: 435px;
	padding-top: 20px;
	padding-left: 12px;
}
.server-desc span{
	display: block;
	line-height: 1.9;
	font-size: 14px;
	color: #525252;
	text-indent: 2em;
}
.container-head-left{
	float: left;
	font-size: 18px;
	color: #fff;
	line-height: 28px;
	cursor: pointer;
	margin-left: 20px;
}
.container-head-right{
	float: right;
	font-size: 14px;
	color: #a8e6ff;
	line-height: 30px;
	cursor: pointer;
	margin-right: 20px;
}
.dynamic-container{
	width: 320px;
	height: 270px;
	margin-left: 15px;
	float: left;
	border: 1px solid #b5b5b5;
	border-radius: 0 0 10px 10px;
	background-color: #f1f1f1;
}
.dynamic-info{
	color: #525252;
	font-size: 14px;
	line-height: 1.9;
	padding-top: 31px;
	padding-left: 20px;
}

.classic-case-container{
	width: 980px;
	height: 230px;
	margin: 20px auto;
	border: 1px solid #b5b5b5;
	border-radius: 0 0 10px 10px;
	background-color: #f1f1f1;
}
.case-info{
	height: 200px;
}
.image-info{
	float: left;
	width: 250px;
	height: 160px;
	background-image: url("../images/banner2.jpg");
	margin-top: 20px;
	margin-left: 20px;
}
.case-list{
	width: 680px;
	float: left;
	margin-left: 24px;
	margin-top: 30px;
	font-size: 14px;
	color: #525252;
}

.seperate-line{
	width: 980px;
	height: 9px;
	margin: 40px auto;
}
.footer-container{
	width: 980px;
	height: 40px;
	margin: 30px auto;
	text-align: center;
	font-size: 12PX;
	color: #525252;
}
.footer-container span{
	display: block;
}