 <div class="banner-container">
    <%= image_tag "classic/classicase0408.jpg" %>

 </div>
 <div class="banner-yinying" style="margin-top: -40px;">
    <%= image_tag "bannerBottom.png" %>
 </div>

<div class="classic-container">
	<div class="classic-left-container">
		<div class="left-title">
			<span class="left-CN">经典案例/</span>
			<span class="left-EN">Classic Case</span>
		</div>
    <div><%= image_tag "classic/classic.jpg" %></div>
	</div>
	<div class="classic-right-container">
		<div class="classic-right-head">
			<span>首页>经典案例>案例详情</span>
		</div>
		<div class="classic-right-info">
      <div class="classic-title"><span>从一起娱乐场所的承包合同的签订看合同效力问题</span></div>
			<div class="classic-time"><span>作者：广西观复律师事务所包万高律师</span></div>
			<div class="classic-line"></div>
			<div class="classic-line"></div>
      <div class="classic-text">
        <span>【基本案情】</span>
　　            <span>2006年1月1日，原告陈某与被告南宁市金都大酒店投资有限公司签订了《夜总会招标承包合同》（下简称“合同”），约定由被告作为发包方，将金都夜总会的经营场地、相关设施及经营许可证等等发包给原告。经营一段时间后，因亏损等原因，原告决定于2006年7月21日退出夜总会经营。2008年7月18日，原告起诉要求判令其与被告之间所签订的《合同》无效并要求返还投资损失若干万元。原告提出索赔后，被告认为《合同》是双方真实的意思表示，也不违反法律规定，应合法有效。同时被告已履行了合同相关义务，原告所谓的损失是由于其自身的违约行为导致的，与被告无关。</span>
　　            <span>【法院裁决】</span>
　　<span>一审合议庭认为，原被告双方签订的承包经营合同是当事人的真实意思表示，合同内容没有违反国家法律行政法规的强制性规定，应属有效合同，受法律保护，故原被告应严格依照双方所签订的《合同》享受权利，承担义务。原告主张合同无效以及返还财产的要求于法无据。判决如下：驳回原告的诉讼请求。</span>
<span>原告不服一审判决，遂上诉。二审法院开庭审理后维持原判。</span>

　　<span>【法理评析】</span>
　　<span>本案的焦点是签约时违反法律法规的规定，履约期间法律被修改后合同的效力如何认定？</span>
　　<span>首先，该《合同》是原告与被告于2006年1月1日签订的，根据国务院颁布的1999年7月1日起实施的《娱乐场所管理条例》第十四条第二款关于“娱乐场所经营单位不得涂改、转借、出租营业执照，不得将娱乐场所转包给他人经营。”的规定，被告将夜总会转包给原告经营是违法的，但双方在履行该合同的过程中，即2006年1月18日国务院已经对该条例进行了修订，新条例删除了上述规定的内容，也就是说，该合同履行时国务院颁布的行政法规并不禁止“将娱乐场所转包给他人经营”的做法。《中华人民共和国立法法》第八十三条规定：“同一机关制定的法律、行政法规、地方性法规、自治条例和单行条例、规章，特别规定与一般规定不一致的，适用特别规定；新的规定与旧的规定不一致的，适用新的规定。”据此，原被告双方签订的承包经营合同是当事人的真实意思表示，合同内容没有违反国家法律行政法规的强制性规定，合同应该有效。</span>
　　<span>另外，根据相关法律理论，合同法中的强制性规定分为管理性强制性规定和效力性强制性规定，违反强制性规定的合同不一定无效，应分情况区别对待。</span>
　　<span>所谓效力性规范，指法律及行政法规明确规定违反了这些禁止性规定将导致合同无效或者合同不成立的规范；或者是法律及行政法规虽然没有明确规定违反这些禁止性规范后将导致合同无效或者不成立，但是违反了这些禁止性规范后如果使合同继续有效将损害国家利益和社会公共利益的规范。</span>
　　<span>《中华人民共和国合同法》第五十二条规定：有下列情形之一的，合同无效：“……（五）违反法律、行政法规的强制性规定。”根据2009年2月9日最高人民法院审判委员会第1462次会议通过的并于2009年5月13日起施行的关于适用《中华人民共和国合同法》若干问题的解释(二)第十四条规定：合同法第五十二条第（五）项规定的“强制性规定”，是指效力性强制性规定。</span>
　　<span>本案中引发争议的这一条款显然属于管理性强制性规定。因此从这个角度来看，本案显然也属于有效合同。</span>
<span>【注】在上述案例中，本人代理被告南宁市金都大酒店投资有限公司获得全胜的效果。该案的胜诉，无论从法律效果还是从社会效果看，都具有一定的积极意义。 </span>
      </div>
      <div class="classic-line" style="margin-top:20px;"></div>
      <div class="classic-line"></div>
      <div class="classic-change" style="margin-top:20px;">
        <a href="" class="article-link">
          <span class="next">上一篇：</span>
          <span>从一起娱乐场所的承包合同的签订看合同效力问题</span>
        </a>
      </div>
      <div class="classic-change">
        <a href="" class="article-link">
          <span class="next">下一篇：</span>
          <span>从一起娱乐场所的承包合同的签订看合同效力问题</span>
        </a>
      </div>
		</div>
	</div>
</div>