
 <div class="banner-container" >
    <%= image_tag "contact/contact_banner0408.jpg" %>
 </div>
 <div class="banner-yinying" style="margin-top: -40px;">
    <%= image_tag "bannerBottom.png" %>
 </div>

<div class="contact-container">
  <div class="contact-left-container">
    <%= image_tag "contact/phone.png" %>
  </div>
  <div class="contact-right-container">
     <div class="contact-title"><span>联系我们</span></div>
     <div class="contact-line"></div> 
     <div class="contact-line"></div> 
     <div class="contact-name"><span>广西观复律师事务所</span></div>
     <div class="contact-type"><span>地址：广西壮族自治区南宁市青秀区东葛路延长线159号景晖花园13栋062号 </span></div>
     <div class="contact-type"><span>邮编：530022</span></div>
     <div class="contact-type"><span>电话：0771-5670729</span></div>
     <div class="contact-type"><span>传真：0771-5671759</span></div>
     <div class="contact-type"><span>邮箱：gxgflawfirm@163.com</span></div>
     <div class="contact-map"><%= image_tag "contact/map2.jpg" %></div>
     <div class="contact-line2"></div> 
     <div class="contact-line"></div> 
  </div>
</div>