
 <div class="banner-container">
   <%= image_tag('banner22.jpg') %>
 </div>
 <div class="banner-yinying">
   <%= image_tag('bannerBottom.png') %>
 </div>

 <div class="server-dynamic-container">
    <div class="server-container">
       <div class="container-head">
          <span class="container-head-left">服务领域</span>
       </div>
       <div class="server-shadow"></div>
       <div class="server-info">
          <div class="server-name">
             <div><span id="server1" class="selected">*法律顾问</span></div>
             <div><span id="server2">*证券与资本市场</span></div>
             <div><span id="server3">*兼并与收购</span></div>
             <div><span id="server4">*争议解决</span></div>
          </div>
          <div class="server-desc">
             <span>
                观复将以团队律师的形式为公司企业提供法律顾问服务，顾问团队配备了投融资顾问律师、股权顾问律师、 劳动纠纷律师等专业律师，可以全方位为公司企业提供法律咨询、法律风险防范等服务。
             </span>
             <span>
                观复法律顾问团队将对客户单位进行全面的法律审查， 包括其股权结构、对外投资、企业资产、企业内控、企业生产管理、人力资源等等， 根据法律审查的结果评估企业风险等级， 根据不同等级给出不同的法律风险解决方案， 帮助企业有效降低运营风险。
             </span>
          </div>
       </div>
    </div>
    <div class="dynamic-container">
       <div class="container-head">
          <span class="container-head-left">观复动态</span>
          <span class="container-head-right"  id="gotoDynamic">查看更多></span>
       </div>
       <div class="dynamic-info">
          <div class="dynamic"><span>☆我所开业典礼暨开业酒会圆满结束 </span></div>
          <div class="dynamic"><span>☆我所江德运律师荣获“南宁市优秀妇女儿童维权志愿者”</span></div>
          <div class="dynamic"><span>☆我所包万高律师、黄鹏律师应邀出席“广西大学第十一届女生节服饰大赛”</span></div>
       </div>
    </div>
 </div>

 <div class="classic-case-container">
    <div class="container-head">
       <span class="container-head-left">经典案例</span>
       <span class="container-head-right" id="gotoClassic">查看更多></span>
    </div>
    <div><%= image_tag('linksShadows.png') %></div>
    <div class="case-info">
       <div class="image-info">
       </div>
       <div class="case-list">
          <div class="case">
             <span class="case-title"><a href="classiccase.html">· 从一起娱乐场所的承包合同的签订看合同效力问题</a></span>
             <span class="case-time">2014-04-08</span>
          </div>
          <div class="case">
             <span class="case-title"><a href=""> </a></span>
             <span class="case-time"></span>
          </div>
          <div class="case">
             <span class="case-title"><a href=""> </a></span><span class="case-time"></span>
          </div>
          <div class="case">
             <span class="case-title"><a href=""> </a></span>
             <span class="case-time"></span></div>
          <div class="case">
             <span class="case-title"><a href=""> </a></span>
             <span class="case-time"></span>
          </div>
          <div class="case">
             <span class="case-title"><a href=""> </a></span>
             <span class="case-time"></span>
          </div>
       </div>

    </div>
 </div>

 <% content_for :scripts do %>
       $(function(){
         $("#gotoService").on('click',function(){
            window.location.href="service.html";
         });
         $("#gotoClassic").on('click',function(){
            window.location.href="classiccase.html";
         });
         $("#gotoDynamic").on('click',function(){
            window.location.href="dynamic.html";
         });
         $("#server1").on('click',function(){
            if ($("#server1").hasClass("selected")) {
               return;
            }else{
               $("#server1").addClass("selected");
               $("#server2").removeClass("selected");
               $("#server3").removeClass("selected");
               $("#server4").removeClass("selected");

               $(".server-desc").empty();
               $(".server-desc").html("<span>观复将以团队律师的形式为公司企业提供法律顾问服务，顾问团队配备了投融资顾问律师、股权顾问律师、劳动纠纷律师等专业律师，可以全方位为公司企业提供法律咨询、法律风险防范等服务。</span><span>观复法律顾问团队将对客户单位进行全面的法律审查，包括其股权结构、对外投资、企业资产、企业内控、企业生产管理、人力资源等等， 根据法律审查的结果评估企业风险等级， 根据不同等级给出不同的法律风险解决方案， 帮助企业有效降低运营风险。</span>");
            }


         });

         $("#server2").on('click',function(){
            if ($("#server2").hasClass("selected")) {
               return;
            }else{
               $("#server1").removeClass("selected");
               $("#server2").addClass("selected");
               $("#server3").removeClass("selected");
               $("#server4").removeClass("selected");

               $(".server-desc").empty();
               $(".server-desc").html("<span>中国证券与资本市场的法律服务大部分由地属北京的律师事务所提供， 北京律师事务所既有丰富的法律服务经验，同时亦与相关部门有着良好的沟通渠道， 这些都决定了北京地区律师事务所在资本市场的龙头地位， 观复所与北京知名证券服务的律师所建立了良好的合作关系，能切实有效的为广西本土企业上市提供最佳的法律服务。</span>");
               // <span>观复在此领域提供的专业服务主要包括：改制与重组方案设计、法律审慎调查、协助拟订重组协议、股东发起人协议、关联交易协议、公司章程以及其他相关法律文件、协助建立并完善公司法人治理结构、协助拟订招股说明书等信息披露文件、出具法律意见书</span>

            }


         });

         $("#server3").on('click',function(){
            if ($("#server3").hasClass("selected")) {
               return;
            }else{
               $("#server1").removeClass("selected");
               $("#server2").removeClass("selected");
               $("#server3").addClass("selected");
               $("#server4").removeClass("selected");
               $(".server-desc").empty();
               $(".server-desc").html("<span>在代理并购项目中，观复因其强大而有效的团队合作而获得客户好评。</span><span>观复在此领域提供的专业服务主要包括：参与设计优化交易架构、进行法律审慎调查、草拟、谈判资产股权转让（收购）协议、分拆（立）协议、合并协议以及其他相关交易文件、就政府审批许可、备案、登记及豁免事宜提供咨询意见，并协助办理相关法定程序与手续、协助办理交割事宜</span>");
            }

            


         });

         $("#server4").on('click',function(){
            if ($("#server4").hasClass("selected")) {
               return;
            }else{
               $("#server1").removeClass("selected");
               $("#server2").removeClass("selected");
               $("#server3").removeClass("selected");
               $("#server4").addClass("selected");
               $(".server-desc").empty();
               $(".server-desc").html("<span>观复律师事务所拥有优秀的诉讼与争议解决团队，专注于为高端客户的重大、疑难民商事诉讼及其他法律纠纷提供全面解决方案。</span><span>观复建立了以团队协作为导向的诉讼业务管理体系，实行项目团队负责制，通过项目团队、业务管理委员会、业务探讨会、业务指导工作委员会四个层面实现团队协作。</span><span>观复内部实行诉讼业务流程管理体系，对代理的诉讼案件有一套难度评估系统，并形成了案件受理、代理、办结整套流程管理体系。</span>");
            }

         });

      });

 <% end %>