@charset "utf-8";
/* CSS Document */
body{
	border:none;
	margin:auto;
	padding:0px;
	font-family:"微软雅黑";
	font-size:12px;
	}
img{
	border:none;
	}
p{
	margin:0px;
	padding:0px;
	}
a{
	text-decoration:none;
	color: #525252;;
	}
ul{
	margin:0px;
	padding:0px;
	}
ul li{
	list-style:none;
	}
.clear{
	clear:both;
	}
.fw{
	font-weight:bold;
	}
.f14{
	font-size:14px;
	}
dd{
	margin:0 auto;
	}